USE [master]
GO
/****** Object:  Database [CellPhoneS_QLBH]    Script Date: 04/12/2023 12:01:22 SA ******/
CREATE DATABASE [CellPhoneS_QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CellPhoneS_QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CellPhoneS_QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CellPhoneS_QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CellPhoneS_QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CellPhoneS_QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CellPhoneS_QLBH]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MaChiNhanh] [nvarchar](50) NOT NULL,
	[TenChiNhanh] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MaChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [nvarchar](30) NOT NULL,
	[TenChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[STT] [nvarchar](50) NOT NULL,
	[MaPhieuNhap] [nvarchar](50) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[SoLuong] [float] NOT NULL,
	[DonGiaNhap] [float] NOT NULL,
	[GiamGia] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
 CONSTRAINT [PK_CTPhieuNhap_1] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuXuat]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuXuat](
	[STT] [nvarchar](50) NOT NULL,
	[MaPhieuXuat] [nvarchar](50) NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
	[SoLuong] [float] NOT NULL,
	[DonGiaBan] [float] NOT NULL,
	[GiamGia] [float] NOT NULL,
	[ThanhTien] [float] NOT NULL,
 CONSTRAINT [PK_CTPhieuXuat] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[TenKhach] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](20) NOT NULL,
	[HangThanhVien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [nvarchar](50) NOT NULL,
	[TenKho] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoaiHang] [nvarchar](50) NOT NULL,
	[TenLoaiHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[MaChucVu] [nvarchar](30) NOT NULL,
	[MaChiNhanh] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
	[TongTien] [nvarchar](100) NOT NULL,
	[MaKho] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MaPhieuXuat] [nvarchar](50) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[NgayXuat] [datetime] NOT NULL,
	[MaKhachHang] [nvarchar](50) NOT NULL,
	[TongTien] [nvarchar](100) NOT NULL,
	[MaKho] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[MaPhieuXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [nvarchar](50) NOT NULL,
	[TenSanPham] [nvarchar](50) NOT NULL,
	[MaLoaiHang] [nvarchar](50) NOT NULL,
	[SoLuong] [float] NOT NULL,
	[DonGiaNhap] [float] NOT NULL,
	[DonGiaBan] [float] NOT NULL,
	[Anh] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[MaKho] [nvarchar](50) NOT NULL,
	[MaNCC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauNhapHang]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauNhapHang](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[ThoiGian] [datetime] NOT NULL,
	[MaSanPham] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_YeuCauNhapHang] PRIMARY KEY CLUSTERED 
(
	[ThoiGian] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([MaNhanVien], [UserName], [PassWord]) VALUES (N'NVBH11', N'nv51', N'password51')
INSERT [dbo].[Account] ([MaNhanVien], [UserName], [PassWord]) VALUES (N'NVBH12', N'nv55', N'password55')
INSERT [dbo].[Account] ([MaNhanVien], [UserName], [PassWord]) VALUES (N'NVBH13', N'nv56', N'password56')
GO
INSERT [dbo].[ChiNhanh] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [DienThoai]) VALUES (N'CN1', N'Thủ Đức', N'TP Hồ Chí Minh', N'(023) 896-5486')
INSERT [dbo].[ChiNhanh] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [DienThoai]) VALUES (N'CN10', N'Thuận An', N'Bình Dương', N'(065) 156-1321')
INSERT [dbo].[ChiNhanh] ([MaChiNhanh], [TenChiNhanh], [DiaChi], [DienThoai]) VALUES (N'CN11', N'Đức Hòa', N'Long An', N'(098) 456-2132')
GO
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'NVBH', N'Nhân Viên Bán Hàng')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'QL', N'Quản Lý')
GO
INSERT [dbo].[CTPhieuNhap] ([STT], [MaPhieuNhap], [MaSanPham], [SoLuong], [DonGiaNhap], [GiamGia], [ThanhTien]) VALUES (N'HDN8202023_174052STT0', N'HDN8202023_174052', N'LTKHO1NCC11', 0, 2000000, 0, 0)
INSERT [dbo].[CTPhieuNhap] ([STT], [MaPhieuNhap], [MaSanPham], [SoLuong], [DonGiaNhap], [GiamGia], [ThanhTien]) VALUES (N'HDN8202023_174421STT0', N'HDN8202023_174421', N'LTKHO1NCC111', 20, 10000000, 50, 100000000)
INSERT [dbo].[CTPhieuNhap] ([STT], [MaPhieuNhap], [MaSanPham], [SoLuong], [DonGiaNhap], [GiamGia], [ThanhTien]) VALUES (N'HDN8202023_174905STT0', N'HDN8202023_174905', N'LTKHO1NCC11', 10, 2000000, 0, 20000000)
GO
INSERT [dbo].[CTPhieuXuat] ([STT], [MaPhieuXuat], [MaSanPham], [SoLuong], [DonGiaBan], [GiamGia], [ThanhTien]) VALUES (N'HDB8202023_04045STT0', N'HDB8202023_04045', N'LTKHO1NCC11', 3, 3000000, 0, 9000000)
INSERT [dbo].[CTPhieuXuat] ([STT], [MaPhieuXuat], [MaSanPham], [SoLuong], [DonGiaBan], [GiamGia], [ThanhTien]) VALUES (N'HDB8202023_195606STT0', N'HDB8202023_195606', N'LTKHO1NCC11', 2, 3000000, 3, 5999997)
INSERT [dbo].[CTPhieuXuat] ([STT], [MaPhieuXuat], [MaSanPham], [SoLuong], [DonGiaBan], [GiamGia], [ThanhTien]) VALUES (N'HDB8202023_200823STT0', N'HDB8202023_200823', N'LTKHO1NCC11', 3, 3000000, 10, 8999990)
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhach], [DiaChi], [DienThoai], [HangThanhVien]) VALUES (N'KH1', N'Trương Thị Phượng', N'Quảng Bình', N'(031) 765-7322', N'Đồng')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhach], [DiaChi], [DienThoai], [HangThanhVien]) VALUES (N'KH10', N'Nguyen Van Dung', N'Nghệ An', N'(038) 765-4321', N'Bạch Kim')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhach], [DiaChi], [DienThoai], [HangThanhVien]) VALUES (N'KH11', N'Le Thi Thu', N'Đồng Tháp', N'(067) 345-6789', N'Kim Cương')
GO
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi]) VALUES (N'KHO1', N'Kho Hà Nội', N'Hà Nội')
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi]) VALUES (N'KHO10', N'Kho Đồng Nai', N'Đồng Nai')
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi]) VALUES (N'KHO11', N'Kho TP Hồ Chí Minh', N'TP Hồ Chí Minh')
GO
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'DH', N'Đồng Hồ')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'DT', N'Điện Thoại')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'KB', N'Bàn Phím')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC1', N'SamSung', N'Hàn Quốc', N'(031) 765-7321')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC10', N'Acer', N'Đài Loan', N'(044) 890-1234')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC11', N'HP', N'Mỹ', N'(042) 901-2345')
GO
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaChucVu], [MaChiNhanh], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai]) VALUES (N'NVBH1', N'Nguyễn Minh An', N'NVBH', N'CN1', CAST(N'2003-08-10T02:04:43.000' AS DateTime), N'Nam', N'Tiền Giang', N'(054) 915-1231')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaChucVu], [MaChiNhanh], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai]) VALUES (N'NVBH10', N'Nguyễn Minh Mạnh', N'NVBH', N'CN1', CAST(N'2004-01-03T09:20:00.000' AS DateTime), N'Nam', N'Hà Tĩnh', N'(039) 678-9012')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [MaChucVu], [MaChiNhanh], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai]) VALUES (N'NVBH11', N'Nguyễn Minh Nga', N'NVBH', N'CN5', CAST(N'2002-05-15T14:50:00.000' AS DateTime), N'Nữ', N'Nghệ An', N'(038) 789-0123')
GO
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNhanVien], [NgayNhap], [MaNCC], [TongTien], [MaKho]) VALUES (N'HDN8202023_174052', N'NVBH11', CAST(N'2023-08-20T17:40:52.363' AS DateTime), N'NCC1', N'0.00 VNĐ', N'KHO1')
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNhanVien], [NgayNhap], [MaNCC], [TongTien], [MaKho]) VALUES (N'HDN8202023_174421', N'NVBH30', CAST(N'2023-08-20T17:44:21.057' AS DateTime), N'NCC1', N'110,000,000.00 VNĐ', N'KHO1')
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNhanVien], [NgayNhap], [MaNCC], [TongTien], [MaKho]) VALUES (N'HDN8202023_174905', N'NVBH17', CAST(N'2023-08-20T17:49:05.030' AS DateTime), N'NCC3', N'77,360,000.00 VNĐ', N'KHO1')
GO
INSERT [dbo].[PhieuXuat] ([MaPhieuXuat], [MaNhanVien], [NgayXuat], [MaKhachHang], [TongTien], [MaKho]) VALUES (N'HDB8202023_04045', N'NVBH1', CAST(N'2023-08-20T12:40:45.393' AS DateTime), N'KH31', N'9,000,000.00 VNĐ', N'KHO1')
INSERT [dbo].[PhieuXuat] ([MaPhieuXuat], [MaNhanVien], [NgayXuat], [MaKhachHang], [TongTien], [MaKho]) VALUES (N'HDB8202023_195606', N'NVBH1', CAST(N'2023-08-20T19:56:06.553' AS DateTime), N'KH1', N'5,999,997.00 VNĐ', N'KHO1')
INSERT [dbo].[PhieuXuat] ([MaPhieuXuat], [MaNhanVien], [NgayXuat], [MaKhachHang], [TongTien], [MaKho]) VALUES (N'HDB8202023_200823', N'NVBH1', CAST(N'2023-08-20T20:08:23.387' AS DateTime), N'KH1', N'36,999,970.00 VNĐ', N'KHO1')
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiHang], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu], [MaKho], [MaNCC]) VALUES (N'LTKHO1NCC11', N'SamSung Galaxy S22', N'DT', 100, 20000000, 30000000, N'~\Images\DienThoai\ss22.jpg', N'SamSung S22RAM : 8GBSSD : 128GB', N'KHO1', N'NCC1')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiHang], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu], [MaKho], [MaNCC]) VALUES (N'LTKHO1NCC111', N'SamSung Galaxy S22', N'DT', 100, 25000000, 29000000, N'~\Images\DienThoai\ss22.jpg', N'', N'KHO1', N'NCC1')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaLoaiHang], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu], [MaKho], [MaNCC]) VALUES (N'LTKHO1NCC12', N'iPhone 15 Pro Max', N'DT', 100, 25000000, 35000000, N'~\Images\DienThoai\iphone15promax.jpg', NULL, N'KHO1', N'NCC2')
GO
INSERT [dbo].[YeuCauNhapHang] ([MaNhanVien], [ThoiGian], [MaSanPham]) VALUES (N'NVBH1', CAST(N'2023-04-16T00:00:00.000' AS DateTime), N'LTKHO1NCC11')
INSERT [dbo].[YeuCauNhapHang] ([MaNhanVien], [ThoiGian], [MaSanPham]) VALUES (N'NVBH1', CAST(N'2023-08-20T13:21:24.000' AS DateTime), N'LTKHO1NCC11')
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_NhanVien]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_PhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[CTPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuXuat_PhieuXuat] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PhieuXuat] ([MaPhieuXuat])
GO
ALTER TABLE [dbo].[CTPhieuXuat] CHECK CONSTRAINT [FK_CTPhieuXuat_PhieuXuat]
GO
ALTER TABLE [dbo].[CTPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuXuat_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[CTPhieuXuat] CHECK CONSTRAINT [FK_CTPhieuXuat_SanPham]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MaChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([MaChiNhanh])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_KhachHang]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Kho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Kho]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiHang] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LoaiHang] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
ALTER TABLE [dbo].[YeuCauNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_YeuCauNhapHang_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[YeuCauNhapHang] CHECK CONSTRAINT [FK_YeuCauNhapHang_NhanVien]
GO
ALTER TABLE [dbo].[YeuCauNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_YeuCauNhapHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[YeuCauNhapHang] CHECK CONSTRAINT [FK_YeuCauNhapHang_SanPham]
GO
/****** Object:  StoredProcedure [dbo].[FilterCTSanPhamByMaPhieuXuat]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FilterCTSanPhamByMaPhieuXuat]
    @MaPhieuXuat NVARCHAR(50) 
AS
BEGIN
    SELECT *
    FROM CTPhieuXuat
    WHERE MaPhieuXuat = @MaPhieuXuat;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllSanPham]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllSanPham]
AS
BEGIN
    SELECT * FROM SanPham;
END;
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 04/12/2023 12:01:23 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateUser]
    @Username NVARCHAR(50),
    @Password NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*) AS UserCount
    FROM Account
    WHERE UserName = @Username AND PassWord = @Password;
END
GO
USE [master]
GO
